.navbar {
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 0%, 18.82%);
  padding: 1rem 1.5em;
  font-size: 1rem;
  width: 100%;
}

.navbarTitle {
  display: inline-block;
  line-height: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.navbarTitleName {
  color: white;
  vertical-align: middle;
}

.navbarTitleIcon {
  margin-right: 0.3em;
  width: 2.5rem;
  vertical-align: middle;
}

.navbarSearch {
  font-size: 1.5rem;
  width: 50vw;
  line-height: 2.3rem;
}

.navbarSearchInput {
  display: inline-block;
  padding: 0.5em 1em !important;
  width: 80%;
  outline: 0;
}

.navbarSearchButton {
  display: inline-block;
  padding: 0.6em 1em;
  background-color: #bbb;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.navbarSearchButton:hover {
  opacity: 0.8;
}

.navbarSearchIcon {
  color: white;
}

.navbarUser {
  display: inline-block;
  background-color: white;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: 0.3rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: baseline;
  }
  .navbarTitle {
    font-size: 1.5rem;
    margin-right: 3%;
  }
  .navbarTitleIcon {
    width: 2rem;
  }
  .navbarSearch {
    font-size: 1rem;
    width: 50vw;
    line-height: 2.3rem;
  }
  .navbarUser {
    display: none;
  }
}
