.container {
  padding: 0.2em 0.8em;
}

.grid {
  width: 50%;
}

.list {
  width: 100%;
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: transform 250ms ease-in;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.38);
}

.video:hover {
  transform: scale(1.03);
}

.thumbnail {
  width: 40%;
  height: 100%;
}

.metaData {
  margin-left: 0.3em;
  white-space: nowrap;
  overflow: hidden;
}

.title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel {
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 48rem) {
  .grid {
    width: 100%;
  }
}
