body {
  background-color: dimgray;
}

.thumbnailContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: auto;
  padding: 1% 5%;
}

.thumbnail {
  width: 45%;
  height: 30vh;
  list-style: none;
  background-color: white;
  border: 1px solid black;
  margin: 0 2.5% 2%;
}
